spawn-sh-at-startup "cd \"$HOME/html-desktop-shell\" && ./target/debug/html-desktop-shell"
spawn-at-startup "foot"

binds {
    Mod+T hotkey-overlay-title="Open Terminal" {
        spawn "foot" ;
    }
    Mod+Shift+E {
        quit ;
    }
    Ctrl+Alt+Delete {
        quit ;
    }
}
