[Unit]
Description=HTML Desktop Shell
After=graphical-session.target

[Service]
ExecStart=/usr/bin/html-desktop-shell
Restart=on-failure

[Install]
WantedBy=default.target
